*{
    border:none;
    margin:0px;
    padding:0px;
    outline:none;
}

body {
    height: 400px;
    width: 300px;
    border-radius: 5px;
    background: #1A659E;
    color: #ffffff;
}

.header{
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 15px;
}
.time-box {
    display:flex;
    justify-content: center;

}
.time-box h1 {
    font-size: 45px;
}

.buttons-box{
    display:flex;
    justify-content: space-around;
    padding: 0 5px;
}
.buttons-box button {
    padding: 3px 10px;
    margin-top: 15px;
    border:none;
    border-radius: 3px;
}

.task-container{
    width: 300px;
    height: 250px;
    margin: 10px auto 0 auto;
    background: #1A659E;
    overflow-x:auto;
}
.task-input{
    width:82%;
    height: 30px;
    margin-top: 10px;
    padding-left: 3%;

}
.delete-task-btn{
    width:15%;
    height: 30px;
    background: tomato;
    color: #ffffff;

}
